# Ignore everything by default
*

!hypr/
!hypr/**
!caelestia/
!caelestia/**
!fish/
!fish/**
!foot/
!foot/**
!fuzzel/
!fuzzel/**
!btop/
!btop/**
!cava/
!cava/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!qt6ct/
!qt6ct/**
!qtengine/
!qtengine/**
!nwg-look/
!nwg-look/**
!spicetify/
!spicetify/**
!micro/
!micro/**
!htop/
!htop/**
!nvtop/
!nvtop/**
!starship.toml
!fastfetch/
!fastfetch/**
!code-flags.conf
!mimeapps.list
!user-dirs.dirs
!user-dirs.locale
!xdg-desktop-portal/
!xdg-desktop-portal/**
!xsettingsd/
!xsettingsd/**
!.gitignore
